/* All omni Design CSS style */
*{
    box-sizing: border-box;
}
:root{
    --main-color: #ba2539;
    --secondary-color: #e62e46;
}
a{
    color: #ba2539;;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}
.button{
    border: 0;
}
.bg-green{
    background-color: #3ecf8e;
}
.bg-blue{
    background-color: rgba(85,52,255, 0.5);
}
.bg-red{
    background-color: #ba2539;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #fff;
}
.text-red{
    color: #ba2539;
}
.text-red{
    color: #ba2539;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-20{
    margin-top: 20px;
}
.bold{
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
@media(max-width: 1000px){
    .container{
        width: 95%;
    }
}
nav{
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    z-index: 999;
    color: #fff;
    background-color: #fff;
}
nav .container{
    max-width: 90%;
}
nav .brand-logo img{
    padding-top: 10px;
}
nav ul{
    list-style: none;
    float: right;
    margin-bottom: 0;
}
nav ul li{
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    margin-bottom: 0;
    color: #ba2539;
    cursor: pointer;
}
nav ul li a{
    padding: 10px 0;
}
nav ul li a:hover{
    border-bottom: 3px solid #ba2539;
    color: #ba2539;
}
nav ul li a.active{
    border-bottom: 2px solid #ba2539;
    color: #ba2539;
}
nav .login-btn{
    background-color: #ba2539;;
    color: #fff;
    border: 0;
    padding: 0 50px;
}
.mobile-menu{
    display: none;
}
@media(max-width: 700px){
    .container{}
    nav{
        height: 50px;
        line-height: 50px;
    }
    nav .brand-logo img{
        padding-top: 0;
    }
    nav ul{
        display: none;
        margin-bottom: 0;
    }
    .mobile{
        float: right;
        display: inline-block;
        height: 50px;
        padding: 10px 0;
    }
    .mobile:hover{
        cursor: pointer;
    }
    .mobile span{
        width: 30px;
        height: 3px;
        background-color: #ba2539;;
        display: block;
        margin-bottom: 7px;
    }
    div#close-menu{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    div#close-menu::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #ba2539;;
        display: block;
        margin-bottom: 5px;
        transform: rotate(45deg);
    }
    div#close-menu::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #ba2539;;
        display: block;
        margin-bottom: 5px;
        transform: rotate(-45deg);
        margin-top: -8px;
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        background-color: #fff;
        display: none;
        transition: linear 2s;
    }
    .mobile-menu a{
        display: block;
        color: #ba2539;
        text-align: right;
        /* margin-right: 30px; */
        font-weight: bold;
    }
    .mobile-menu ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .mobile-menu ul li{
        display: block;
        padding: 20px 0;
        color: #ba2539;
        font-size: 20px;
        font-weight: bold;
    }
    .mobile-menu ul li:hover{
        cursor: pointer;
    }
}

#main{
    width: 100%;
    height: 90vh;
    background-color: #f5f5f5;
}
.omni{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e62e46;
    display: flex;
    align-items: center;
    color: #fff;
    
}
/* .omni:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    height:200px;
    background-color: #e62e46;
    transform: skewY(-6deg);
    z-index: -1;
} */
.omni .background__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.omni .background__image img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.omni .announcement{
    margin: 100px 0 50px;
}
.omni .announcement a{
    font-size: 14px;
    background-color: rgba(0, 0, 140, 0.08);
    border-radius: 15px;
    padding: 3px 10px 3px 5px;
    vertical-align: middle;
}
.omni .announcement span{
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 5px;
}
.omni h3{
    font-weight: bold;
}
.omni p{
    max-width: 450px;
}
.omni p.call-to-action{
    margin-top: 70px;
}
.omni input{
    border-radius: 25px;
    height: 50px;
    color: #fff;
    /* box-shadow: 0 0 2px 0 #f1f1f1;  */
}
.omni input[type=text]{
    background-color: #ba2539;;
    width: 40%;
    text-align: center;
}
.omni input[type=submit]{
    background-color: #fff;
    color: #ba2539;;
    border: 0;
}
@media(max-width: 700px){
    .omni h3{
        margin-top: 30px;
    }
    .omni p.call-to-action .button{
        width: 100%;
    }
    .omni p.call-to-action .contact{
        margin-left: 0;
    }
    .design{
        display: none;
    }
    .omni input{
        border-radius: 25px;
        height: 40px;
        color: #fff;
        /* box-shadow: 0 0 2px 0 #f1f1f1;  */
    }
    .omni input[type=text]{
        background-color: #ba2539;;
        width: 100%;
        text-align: center;
    }
    
}

.design{
    position: absolute;
    top: 200px;
    right: 0;
    width: 30%;
    min-height: 500px;
    transform: skewY(6deg);
}
.design span{
    display: block;
    width: 100%;
    height: 30px;
    margin: 20px 0;
    background-color: #f1f7fb;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    /* transform: rotate(15deg); */
}
.index-intro{
    padding: 50px 0;
    margin-top: 50px;
}
.intro{
    position: relative;
    width: 100%;
    /* height: 300px; */
    background-color: #fff;
    text-align: center;
}
.intro h6{
    margin-top: 0;
}
.intro hr{
    margin: 1em 0;
    border: 1px solid #ba2539;;
    /* width: 70%; */
    margin: 0 20%;
    margin-bottom: 20px;
}
.index-intro .columns{
    margin-top: 20px;
    margin-bottom: 20px;
}
.intro .columns:nth-child(3n+1){
    margin-left: 0;
}
.intro figure{
    position: relative;
    margin: 0;
    width: 100%;
    height: 250px;;
    border-bottom: 2px solid #ba2539;;
}
.intro figure img{
    width: 100%;
    height: 200px;
}
.intro figure .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all .3s linear;
}
.intro figure .overlay p{
    color: white;
    position: absolute;
    overflow: hidden;
    width: 80%;
    top: 50%;
    left: 50%;
    font-size: 1.1em;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.intro figure:hover .overlay{
    height: 200px;
}
.intro figure figcaption{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 1.2em;
    transform: translateY(-10px);
}



.customers{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform linear .5s;
}
.customers ul{
    list-style: none;
    margin-bottom: 0;
}
.customers ul li{
    display: inline-block;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 0;
}
.customers:hover{
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0, 0.5);
    transform: scale(0.9);
}
.customer-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
}
@media(max-width: 700px){
    .customer-button{
        top: 50px;
    }
    .services__description{
        height: 150px;
        padding: 10px;
        background-color: #f9f2f2;
        border-bottom: 2px solid #e62e46;
    }
    .services__description--large{
        padding: 20px;
        background-color: #f9f2f2;
        border-bottom: 2px solid #e62e46;
    }
}

.pre-footer{
    position: relative;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(255,0,0, 0.2);
}
.pre-footer p{
    margin-top: 100px;
    font-size: 16px;
}
@media(max-width: 700px){
    .pre-footer{
        padding: 20px;
    }
    .pre-footer p{
        margin-top: 20px;
    }
}
.footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #e62e46;
    color: #fff;
}
.footer hr{
    margin: 1em 0;
    border: 1px solid #f1f7fb;
}
.footer h6{
    font-weight: bold;
}
.footer ul{
    list-style: none;
}
.footer ul li{
    
}
.footer-note{
    background-color: #ba2539;;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
}

/* About page Style */
.about{
    width: 100%;
    height: 50vh;
    background: url(../images/bg_2.jpg) no-repeat center;
    background-size: cover;
}

.text-container{
    position: absolute;
    max-width: 600px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.about-container{
    max-width: 700px;
    margin: 50px auto;
}
.about-container .row{
    margin-top: 20px;
}
.about-container .row .columns{
    text-align: left;
    line-height: 50px;
    vertical-align: middle;
}
.about-container h6{
    font-size: 1.1em;
}
@media(max-width: 700px){
    .text-container{
        position: relative;
        max-width: 600px;
    }
    .about-container{
        padding: 10px;
    }
}

/* Pricing page Style */
.pricing{
    width: 100%;
    height: 60vh;
    background: url(../images/bg_3.jpg) no-repeat center;
    background-size: cover;
}
.plan{
    position: relative;
    margin-top: -70px;
    margin-bottom: 50px;
}
.plan-box{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #e62e46;
}
.plan-box-big{
    transform: scale(1.1);
    background-color: #ba2539;
    color: #ba2539;
}
.plan-header{
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #e62e46;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
}
.plan-details{
    position: relative;
    wudth: 100%;
    height: 350px;
    color: #fff;
}
.plan-select{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
.plan-select-button{
    padding: 0 30px;
    background-color: rgba(255,0,0,0.6);
    color: #fff;
    border-radius: 25px;
    border: 0;
    font-size: 14px;
    font-weight: lighter;
}
.plan-price{
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    font-size: 1.5em;
}
.plan-price small{
    font-size: 0.5em;
    margin-left: 10px;
}
.plan-price span{
    display: table-cell;
    width: 30%;
    text-align: center;
}
.plan-benefits{
    list-style: none;
    text-align: center;
}
.plan-benefits li{
    position: relative;
}
.plan-benefits li:not(:first-child):before{
    content: "+";
    position: absolute;
    top: -15px;
    left: 50%;
}
@media(max-width: 700px){
    .plan-box{
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #e62e46;
        margin-top: 50px;
    }
}


/* Signup Page Style */
.signup{
    margin-top: 50px;
    margin-bottom: 80px;
}
.signup-box{
    width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0, 0.1);
    border-radius: 5px;
}
.form{
    width: 100%;
    margin-top: 50px;
}
.form-text{
    display: inline-block;
    width: 30%;
    text-align: left;
}
.form-input{
    display: inline-block;
    width: 60%;
}
input[type="submit"]{
    background-color: #ba2539;
    color: #fff;
    border: 0;
    padding: 0 50px;
}

@media(max-width: 700px){
    .form-text{
        display: block;
        width: 100%;
        text-align: left;
    }
    .form-input{
        display: block;
        width: 100%;
    }
}

/* Services Page */
.service{
    width: 100%;
    height: 40vh;
    background: url(../images/bg_3.jpg) no-repeat center;
    background-size: cover;
}
.services figure{
    position: relative;
    width: 100%;
    height: 200px;
}
.services figure img{
    width: 100%;
    height: 200px;
}
.services figure figcaption{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -15px;
    left: 0;
    text-align: center;
    background: linear-gradient(180deg,rgba(255,0,0,0),#e62e46);
    color: #fff;
}
.services__description{
    height: 150px;
    padding: 20px;
    background-color: #f9f2f2;
    border-bottom: 2px solid #e62e46;
}
.services__description--large{
    height: 200px;
    padding: 50px 80px;
    background-color: #f9f2f2;
    border-bottom: 2px solid #e62e46;
}